.spinner {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    width: 20px;
    height: 20px;
    margin: 4px 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spinner.is_active {
    visibility: visible;
    opacity: 1;
}
.remove_wishlist button use {
    color: #C32929 !important;
}
.spinner2 {
    right: -10px !important;
    left: inherit !important;
    transform: inherit !important;
    top: 20px !important;
}